.flex2 {
    display: flex;
    font-family: "Amazon Ember", Arial, sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    gap: 184px;
  }

h1 {
    text-align: center;
    font-size: 60px;
}

.percentage_color {
    color: red;

}

.flex2_button {
    border-top: 1px solid #BBBFBF;
    background-color: burlywood;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    flex-wrap: wrap;
}

.heading_weight {
    font-size: 24px;
    line-height: 32px;
    word-break: break-word;
}

.sub_title {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #007185;
}
.dropdown {
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-wrap: wrap;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
}

.hidden_button {
    display: flex;
    flex-wrap: wrap;
}

/* img {
    width: 596px;
    height: 345px;
} */

.sub1_heading {
    color: #0B0C0C;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid #BBBFBF;
    padding-bottom: 7px;

}

.line_through {
    text-decoration: line-through;
}

.booking_button {
    background-color: burlywood;
    padding: 4px 8px 4px 14px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    animation: blinker 1.5s linear infinite;
    flex-wrap: wrap;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.back_button {
    text-decoration: none;
    padding: 5px 20px 5px 25px;
    border-top: 1px;
    background-color: blueviolet;
    color: white;
}
.responsive{
    flex-wrap: wrap;
}

.ProductImage {
    width: 500px;
  }