.navContent{
    display: flex;
    gap: 30px;
}

.listStyle{
    list-style: none;
}

.subImage {
    display: flex;
    max-width: -webkit-fill-available;
  }

  
.subImage1 {
    background-color: rgba(135, 149, 150, 0.025);
    height: 375px;
    width: 429px;
    padding: 13px;
  }

  .mainImage {
    width: -webkit-fill-available;
  }

  .headingStyle {
    text-align: center;
    font-size: 3.5em;
    line-height: 2.333;
    max-height: none;
    font-weight: 700;
  
  }

  
.letter_color {
    color: black;
  }
  
  .navbar-light .navbar-nav .nav-link.active {
    color: black;
  }
  
  .sub_img_flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .subimage_disgn {
    background-color: rgba(135, 149, 150, 0.025);
    height: 375px;
    width: 337px;
    padding: 13px;
  }
  
  .width_main {
    display: flex;
    width: 1357px;
    flex-wrap: wrap;
  }
  
  .heading_style {
    text-align: center;
    font-size: 3.5em;
    line-height: 2.333;
    max-height: none;
    font-weight: 700;
  }
  
  .flex1 {
    display: flex;
    font-family: "Amazon Ember", Arial, sans-serif;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 184px;
  }
  
  h1 {
    text-align: center;
    font-size: 60px;
  }
  
  .percentage_color {
    color: red;
  
  }
  
  .flex1_button {
    border-top: 1px solid #BBBFBF;
    background-color: burlywood;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
  }
  
  .heading_weight {
    font-size: 24px;
    line-height: 32px;
    word-break: break-word;
  }
  
  .sub_title {
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #007185;
  }
  
  .dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-wrap: wrap;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .hidden_button {
    display: flex;
    flex-wrap: wrap;
  }
  
  .sub1_heading {
    color: #0B0C0C;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid #BBBFBF;
    padding-bottom: 7px;
  
  }
  
  .line_through {
    text-decoration: line-through;
  }
  
  .booking_button {
    background-color: burlywood;
    padding: 4px 8px 4px 14px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    animation: blinker 1.5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  
  .back_button {
    text-decoration: none;
    padding: 5px 20px 5px 25px;
    border-top: 1px;
    background-color: blueviolet;
    color: white;
  }
  
  .footer {
  
    display: flex;
    justify-content: center;
    gap: 107px;
    padding-top: 42px;
    border-bottom: 1px solid gray;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .footer_background {
    background-color: #0B0C0C;
    color: white;
    flex-wrap: wrap;
    /* width: 1498px; */
  }
  
  .footer_heading {
    font-weight: 700;
  }
  
  .bottom_footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 26px;
  }
  
  .ProductImage {
    width: 500px;
  }

  li{
    list-style: none;
  }

  .even{
    display: flex;
    gap: 250px;
    padding: 77px;
    flex-direction: row-reverse;
  }

  .odd{
    /* background-color: yellow; */
    display: flex;
    gap: 323px;
    padding: 77px;
  }

  .link{
    text-decoration: none;
  }

  .addProductButton{
    text-align: end;
  }